body {
    margin: 0 auto;
    padding: 0;
    width: auto;
    max-width: 1920px;
    background: url("images/DarkwoodBackground.png");
}

.headerDiv {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 100px;
    font-family: "Comic Sans MS";
    justify-content: center;
    margin-top: 60px;
}
.heeader2:hover{
    color: white;
}
.content {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    position: fixed;
    left: 1800px;
    top: 300px;
}
