body {
    margin: 0 auto;
    padding: 0;
    width: auto;
    max-width: 1920px;
    background: url("images/DarkwoodBackground.png");
}

.headerDiv {
    display: flex;
    justify-content: center;
    color: red;
    font-size: 100px;
    font-family: "Comic Sans MS";
    justify-content: center;
    margin-top: 60px;
}

.heeader2:hover {
    color: white;
}

.content {
    width: 100px;
    height: 100px;
    border: 1px solid white;
    position: fixed;
    left: 1800px;
    top: 300px;
}

button {
    height: 50px;
    width: 70px;
    border-radius: 20px;
    border: 1px solid #000;
    transition: 1s;
}


button:active {
    background: red;
    color: #000;
    border: 1px solid #000;
}

.gitButton {
    position: relative;
    width: 70px;
    transition: 1s;
    border-radius: 10px;
    padding: 2px;

}

.gitButton:hover > #buttonInner {
    background: #000;
    color: #fff;
    border: 1px solid #fff;
}

.gitButton:hover {
    transition: 1s;
    background: red;
    color: #fff;
}

.gitButton:active {
    background: green;
    padding: 4px;
    bottom: 1px;
    right: 1px;
}

